<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if site.title == blank %}{{ site.title }}{% else %}{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{% endif %}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
<meta name="description" content="{{ site.description | strip_html | escape }}">
<meta name="author" content="{{ site.first_name }} {{ site.last_name }}">
<meta name="keywords" content="Shashank Srikant, AI researcher, ML researcher, AI PhD, ML PhD, MIT PhD, machine learning expert, artificial intelligence expert, generative AI, program analysis, deep tech, NLP, LLM, deep learning, AI consulting, computer science researcher">

<!-- Open Graph -->
{% if site.serve_og_meta %}
<meta property="og:site_name" content="{{ site.first_name }} {{ site.last_name }}" />
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}" />
<meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | escape }} | {{ site.first_name }} {{ site.last_name }}{% else %}{{ site.first_name }} {{ site.last_name }}{% endif %}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ site.description | strip_html | escape }}" />
{% assign og_img = site.og_image %}
{% if page.og_image %}{% assign og_img = page.og_image %}{% endif %}
<meta property="og:image" content="{{ og_img | prepend: site.baseurl | prepend: site.url }}" />
{% endif %}

<!-- X / Twitter Card (twitter: prefix still required by X) -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title | strip_html | escape }} | {{ site.first_name }} {{ site.last_name }}{% else %}{{ site.first_name }} {{ site.last_name }}{% endif %}" />
<meta name="twitter:description" content="{{ site.description | strip_html | escape }}" />
{% if site.twitter_username %}
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:creator" content="@{{ site.twitter_username }}" />
{% endif %}
{% assign tw_img = site.og_image %}
{% if page.og_image %}{% assign tw_img = page.og_image %}{% endif %}
<meta name="twitter:image" content="{{ tw_img | prepend: site.baseurl | prepend: site.url }}" />

<!-- Schema.org structured data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.first_name }} {{ site.last_name }}",
  "url": "{{ site.url }}",
  "image": "{{ site.url }}/assets/img/prof_pic.jpg",
  "email": "{{ site.email }}",
  "jobTitle": "AI/ML Researcher and Consultant",
  "honorificSuffix": "Ph.D.",
  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": "Massachusetts Institute of Technology"
  },
  "knowsAbout": [
    "Artificial Intelligence",
    "Machine Learning",
    "Generative AI",
    "Large Language Models",
    "Program Analysis",
    "Deep Learning",
    "Natural Language Processing"
  ],
  "sameAs": [
    "https://github.com/{{ site.github_username }}",
    "https://twitter.com/{{ site.twitter_username }}",
    "https://www.linkedin.com/in/{{ site.linkedin_username }}",
    "https://scholar.google.com/citations?user={{ site.scholar_userid }}"
  ]
}
</script>

<!-- Bootstrap & MDB -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/{{ site.bootstrap.version }}/css/bootstrap.min.css" rel="stylesheet" integrity="{{ site.bootstrap.integrity.css }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/{{ site.mdb.version }}/css/mdb.min.css" integrity="{{ site.mdb.integrity.css }}" crossorigin="anonymous" />

<!-- Fonts & Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.fontawesome.version }}/css/all.min.css"  integrity="{{ site.fontawesome.integrity }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/{{ site.academicons.version }}/css/academicons.min.css" integrity="{{ site.academicons.integrity }}" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:100,300,400,500,700|Material+Icons">

<!-- Code Syntax Highlighting -->

<!-- Styles -->
<!-- <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}"> -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">

<!-- JQuery -->
{% include scripts/jquery.html %}

<!-- Theming-->
{% if site.enable_darkmode %}
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  <!-- Load DarkMode JS -->
<script src="{{ '/assets/js/dark_mode.js' | relative_url }}"></script>
{% endif %}

{% if site.enable_google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
{% endif %}

{% if site.enable_panelbear_analytics %}
<!-- Panelbear Analytics - We respect your privacy -->
<script async src="https://cdn.panelbear.com/analytics.js?site={{site.panelbear_analytics}}"></script>
<script>
    window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
    panelbear('config', { site: '{{site.panelbear_analytics}}' });
</script>
{% endif %}

<!-- Site tags -->
{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

